body {
    font-family: 'Dancing Script', cursive; 
    font-color: #333;
    background-color: #f1e0c5;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1 {
    margin-top: 0;
    margin-bottom: 30px;

}

.form-group {
    margin-bottom: 20px;
}

#result {
    margin-top: 60px;
    margin-bottom: 30px;
}

#calculator {
    max-width: 500px;
    width: 90%;
    background-color: #fff;
    border: 3px solid #b2a2a2;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.374);
    margin-top: 50px;
}

@media (max-width: 768px) {
  #calculator {
    width: 85%;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }

  body {
    padding: 10px;
  }
}