body {
    font-family: 'Dancing Script', cursive; 
    font-size: 20px;
    color: #333;
    background-color: #f1e0c5;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 30px;

}

.form-group {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.form-group label {
    text-align: left;
}

.form-group input[type="number"] {
    width: 70px;
    text-align: right;
    border: 1px solid #333;
    border-radius: 50px;
    padding: 5px;
}

select {
    width: 140px;
    text-align: right;
    border: 1px solid #333;
    border-radius: 50px;
    padding: 5px;
    background-color: #fff;
    color:#333;
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
    cursor: pointer;
}



select:hover {
    background-color: #e0d4b2;
    
}

select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(179, 162, 162, 0.5);
}

#result {
    margin-top: 60px;
    margin-bottom: 30px;
    
}

#calculator {
    max-width: 500px;
    width: 90%;
    background-color: #fff;
    border: 3px solid #b2a2a2;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.398);
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #f1e0c5;
    color: #333;
    border: none;
    padding: 12px 30px;
    border-radius: 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px;
    
}

#logo-container {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 40px;

 }

 #logo {
    width: 300px;
    height: 300px;
 }

#title-image {
    width: 400px;
    height: auto;
    margin-bottom: -70px;
    margin-top: -110px;
}



  

@media (max-width: 768px) {
  #calculator {
    width: 85%;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }

  #result {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  h1 {
    margin-bottom: 20px;
    font-size: 30px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  body {
    padding: 10px;
  }

  #logo {
    width: 200px;
    height: 200px;
    margin-top: 5px;
  }

  #title-image {
    width: 250px;
    height: auto;
    margin-bottom: -50px;
    margin-top: -55px;
  }

  
 

}


